@import "src/common/pagination.scss";

.iceCream_main {
  background: url("https://blog.kakaocdn.net/dn/J5Hqm/btrjDfR0NrQ/p2ZCKBkPGx2zyx1Y5yQz80/img.gif");
  background-size: cover;
  background-position: center;
  height: 280px;
}
.ice-title{
 margin: -10px 0 20px 0;
  text-align: center;
  color: #9198b7;
}


.iceCream_rank{
  margin-top: 70px;
  width: 100vw;
  text-align: center;
  color: #9198b7;
}
.categories {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 300px;
  &::-webkit-scrollbar{
    display: none;
  }
}

.all_icecream{
  text-align: center;
  margin-left: 19%;
  display: grid;
  grid-template-columns: repeat(4, 270px);

}