@import "src/common/colors.scss";
@import "src/common/grid-templete.scss";

*{
  margin: 0;
  padding: 0;
}

ul{
  list-style:none;
  padding-left:0px;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: #948780;
  text-decoration: none;
  &:hover{
    color:$baskin-color;
  }

}
