@import "src/common/colors.scss";
@import "src/common/font.scss";
@import "src/common/style.scss";


.grid-ice {
  text-align: center;
  font-family: 'NanumBarunGothic';
  border: 1px solid $line-color;
}

.ice-name {
  font-size: 16px;
  color: #483834;
  margin-top: 30px;
}
.ice-hash {
  margin-top: 5px;
  color: #9D9D9D;
  font-size: 12px;
}

.ice-picture{
  position: relative;
  z-index: 2;
}

.ice-picture > img {
  width: 170px;
  height: 170px;
}

.ice-cone{
  z-index: 0;
  position: relative;
}

.ice-cone>img{

  width: 60px;
  height: 65px;
  margin : -50px 0 -5px 0px;

}

.Ice:nth-child(1),
.Ice:nth-child(5),
.Ice:nth-child(9),
.Ice:nth-child(13),
.Ice:nth-child(17){
  border-left: 1px solid $line-color;
}

.Ice:nth-child(1),
.Ice:nth-child(2),
.Ice:nth-child(3),
.Ice:nth-child(4),{
  border-top: 1px solid $line-color;
}
.Ice:nth-child(4n){
  border-right: 1px solid $line-color;
}
.Ice:nth-child(17),
.Ice:nth-child(18),
.Ice:nth-child(19),
.Ice:nth-child(20){
  border-bottom: 1px solid $line-color;
}