@import "font.scss";
@import "colors.scss";

.buy{
background-color: #d3c1ab;
  border: none;
  font-size: 11px;
  width: 58px;
  height: 19px;
  border-radius: 30px;
  line-height: 20px;
  font-family: 'NanumBarunGothic';
  letter-spacing: -1px;
  color: white;
  margin-top: 6px;
}