.coffee_main {
  background: url("https://blog.kakaocdn.net/dn/bA833C/btrjXDR9vUs/kVvPbt3KkxxfBJZ4o0VPuk/img.gif");
  background-size: cover;
  background-position: center;
  height: 280px;
}
.mainCoffee{
  text-align: center;
  margin-left: 412px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
}